* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: #b8b8d1;
}

/* img */
img {
  width: 25rem;
}

h1 {
  color: white;
  text-align: center;
  font-weight: lighter;
  padding-top: 0.5rem;
}

.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  justify-content: center;
  margin: 1rem 0;
}

/* section */
.form-search {
  width: 100%;
  display: flex;
}

.search-container {
  width: 90vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

form {
  width: 90vw;
  padding: 1rem;
  margin-left: 3rem;

  background-color: #b8b8d1;
  border: 2px solid #5b5f97;
  border-radius: 8px;
  gap: 1rem;

  display: flex;
  flex-direction: column;
}

.input-title,
.input-desc {
  display: flex;
  flex-direction: column;
}

label,
.notesData h2,
.notesData p,
.notesData h3 {
  color: white;
  margin-bottom: 0.5rem;
}

input {
  padding: 1rem;
}

#description {
  resize: none;
  min-height: 6rem;
}

/* button-button */
button {
  background-color: #9292ce;
  color: white;
  border-radius: 8px;
}

button:hover {
  background-color: #5b5f97;
}

.save-btn {
  width: 5rem;
  height: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.45);

  align-items: center;
  align-self: end;
}

/* realtime validation style */
.validation-message {
  color: red;
}

input:user-invalid {
  border: 1px solid red;
}

/* efek transparan */
.glass {
  background: linear-gradient(135deg, #ababd3, #a7a7ca);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 10px;
}

/* form-search responsive */
@media screen and (max-width: 768px) {
  form {
    margin-left: 0.5rem;
  }

  img {
    width: 20rem;
  }
}

@media screen and (max-width: 678px) {
  .form-search {
    margin: 0;
    flex-direction: column;
    align-items: center;
  }

  .search-container {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 575px) {
  main h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  img {
    width: 17rem;
  }
}
