* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* img */
img {
  width: 380px;
}

p {
  color: #1f2024;
  font-size: 1.2rem;
  text-align: center;

  padding: 1rem 8%;
}

/* header */
.header {
  background-color: #1f2024;
  height: 8vh;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  margin: 0;
  padding: 0;
}

.brand {
  color: rgb(253, 253, 253);
}

.brand span {
  color: lightgrey;
}

/* main */
main {
  width: 100%;
  padding-block: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  justify-content: center;
  margin: 2rem auto;
}

/* section */
.form-img {
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 1rem 8%;
}

form {
  width: 100%;
  padding: 1.5rem;

  background-color: white;
  border-radius: 4px;
  border: 1px solid #1f2024;
  gap: 1rem;

  display: flex;
  flex-direction: column;
}

.input-title,
.input-desc {
  display: flex;
  flex-direction: column;
}

.input-desc {
  flex: 1;
}

label {
  color: #1f2024;
  margin-bottom: 0.5rem;
}

#title::placeholder,
#description::placeholder {
  color: #a1a1a1;
}

#title {
  padding: 0.5rem;
  border-radius: 4px;
}

#description {
  padding: 0.5rem;
  resize: none;
  min-height: 6rem;
  flex: 1;
  border-radius: 4px;
}

.listNote {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: #d0d1d3;
  border-radius: 4px;
  padding: 1rem;
}

.data {
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #1f2024;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.data:hover {
  background-color: #1f2024;
  color: white;
}
.data p:hover {
  color: white;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 1.5rem 0;
  max-width: 80vw;
  gap: 16px;
}

/* button-button */
.save-btn,
#btnAll,
#btnArchive {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;

  align-items: center;
  align-self: end;
}

button {
  background-color: white;
  border-radius: 1px solid #1f2024;
  color: #1f2024;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #1f2024;
  color: white;
}

.button {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

#btnAll,
#btnArchive {
  margin-top: 1rem;
}

#btnAll.active,
#btnArchive.active {
  background-color: #1f2024;
  color: white;
}

.grupBtn {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}
.btnArchive,
.btnUnArchive,
.btnDelete {
  padding: 0.5rem 1rem;
}

.btnArchive:hover {
  background-color: #22d854;
  color: white;
}
.btnUnArchive:hover {
  background-color: #e7f51f;
  color: white;
}
.btnDelete:hover {
  background-color: #ff0000;
  color: white;
}

/* realtime validation style */
.validation-message {
  color: red;
}

input:user-invalid {
  border: 1px solid red;
}

@media screen and (max-width: 678px) {
  .form-search {
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 95%;
  }
}

@media screen and (max-width: 575px) {
  main h1 {
    font-size: 1.5rem;
  }

  .form-img {
    flex-wrap: wrap;
  }

  .button {
    justify-content: space-around;
  }

  #btnAll,
  #btnArchive {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .search-form {
    flex-direction: column;
  }
}
