* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header {
  width: 100%;
  background-color: darkslategrey;
}

/* main */
main {
  width: 100%;
  height: 100vh;

  background-color: rgb(253, 253, 253);
}

.container {
  width: 100%;
  height: auto;

  display: grid;
  grid-template-areas: "form note";
  gap: 15px;

  justify-content: center;
  margin: 25px 0;
}

button {
  background-color: hsl(180, 24%, 35%);
  color: white;
  border-radius: 8px;
}

button:hover {
  background-color: hsl(180, 32%, 30%);
}

h1 {
  text-align: center;
  font-weight: lighter;
  padding-top: 5px;
}

form {
  grid-template-areas: form;
  width: 40vw;
  padding: 10px;

  background-color: hsl(180, 24%, 35%);
  border-radius: 8px;
  border: 1px solid rgb(70, 70, 70);
  gap: 1rem;

  display: flex;
  flex-direction: column;
}

.input-title,
.input-desc {
  display: flex;
  flex-direction: column;
}

label,
.notesData h2,
.notesData p,
.notesData h3 {
  color: white;
  margin-bottom: 5px;
}

input {
  padding: 8px;
}

#description {
  resize: none;
  min-height: 6rem;
}

.save-btn {
  width: 5rem;
  height: 15%;
  align-items: center;
  border: 2px solid white;

  align-self: end;
}

.notesData {
  grid-template-areas: note;
  width: 100%;

  background-color: hsl(180, 24%, 35%);
  padding: 5px 10px;
  border-radius: 8px;
}

.note {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

  column-gap: 5px;
}

.data {
  border: 2px solid white;
  border-radius: 8px;

  padding: 10px;
  margin-bottom: 10px;
}

/* footer */
footer {
  height: 8.5vh;

  background-color: darkslategrey;
}

/* media query */
@media screen and (max-width: 768px) {
  .container {
    grid-template-areas:
      "form form"
      "note note";
  }

  .note {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    column-gap: 5px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    grid-template-areas:
      "form"
      "note";
  }

  .note {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    column-gap: 5px;
  }
}

@media screen and (max-width: 360px) {
  .container {
    grid-template-areas:
      "form"
      "note";
  }

  .note {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    column-gap: 5px;
  }
}
